@import url("custom.css");

.wy-nav-content {
	max-width: 1200px; 
}

img.align-cener {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
display: block;
}

.highlight .k {
     color: #0000ff;
}

.highlight .n{
     color: #ff00ff;
}

.highlight .c {
     color: #228b22;
}

